@model Nostrification.Domain.Entities.IndexStatViewModel;

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Jami murojaatlar</div>
                        <div class="h3 mb-0 font-weight-bold text-gray-800">@Model.Total</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-boxes fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Yangi murojaatlar</div>
                        <div class="h3 mb-0 font-weight-bold text-gray-800">@Model.New</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-mail-bulk fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Ochiq murojaatlar</div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h3 mb-0 mr-3 font-weight-bold text-gray-800">@Model.Open</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-envelope-open fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Ijobiy hal qilingan murojaatlar</div>
                        <div class="h3 mb-0 font-weight-bold text-gray-800">@Model.Accept</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-check fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-dark shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">Rad etilgan murojaatlar</div>
                        <div class="h3 mb-0 font-weight-bold text-gray-800">@Model.Reject</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-archive fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Muddati o'tib ketgan murojaatlar</div>
                        <div class="h3 mb-0 font-weight-bold text-gray-800">@Model.Overdue</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-burn fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-light shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-black-50 text-uppercase mb-1">Bekor qilingan murojaatlar</div>
                        <div class="h3 mb-0 font-weight-bold text-gray-800">@Model.Anullirovanniy</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-angry fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-4 col-lg-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Murojaat holati bo'yicha</h6>
            </div>
            <div class="card-body">
                <div class="chart-pie pt-4 pb-2">
                    <canvas id="myPieChart"></canvas>
                </div>
                <div class="mt-4 text-center small">
                    <span class="mr-2">
                        <i class="fas fa-circle text-warning"></i> Yangi
                    </span>
                    <span class="mr-2">
                        <i class="fas fa-circle text-info"></i> Ochiq
                    </span>
                    <span class="mr-2">
                        <i class="fas fa-circle text-success"></i> Ijobiy yopilgan
                    </span>
                    <span class="mr-2">
                        <i class="fas fa-circle text-danger"></i> Rad etilgan
                    </span>
                    <span class="mr-2">
                        <i class="fas fa-circle text-black-50"></i> Bekor qilingan
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-8 mb-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Kim tomonidan kelib tushganligi bo'yicha</h6>
            </div>
            <div class="card-body">
                @try
                {
                    <h4 class="small font-weight-bold">Ota-onasi <span class="float-right">@(Model.Parents * 100 / Model.Total)%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: @(Model.Parents * 100 / Model.Total)%" aria-valuenow="@(Model.Parents * 100 / Model.Total)" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">Vasiy <span class="float-right">@(Model.Vasiy * 100 / Model.Total)%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: @(Model.Vasiy * 100 / Model.Total)%" aria-valuenow="@(Model.Vasiy * 100 / Model.Total)" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">Notarial ishonchnoma berilgan shaxs <span class="float-right">@(Model.Notarial * 100 / Model.Total)%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar" role="progressbar" style="width: @(Model.Notarial * 100 / Model.Total)%" aria-valuenow="@(Model.Notarial * 100 / Model.Total)" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">O'zi <span class="float-right">@(Model.Self * 100 / Model.Total)%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-info" role="progressbar" style="width: @(Model.Self * 100 / Model.Total)%" aria-valuenow="@(Model.Self * 100 / Model.Total)" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                }
                catch { }
            </div>
        </div>
    </div>
</div>

<script>
    Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#858796';

    var ctx = document.getElementById("myPieChart");
    var myPieChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ["Yangi", "Ochiq", "Ijobiy yopilgan", "Rad etilgan", "Bekor qilingan"],
            datasets: [{
                data: [@Model.New, @Model.Open, @Model.Accept, @Model.Reject, @Model.Anullirovanniy],
                backgroundColor: ['#f6c23e', '#36b9cc', '#1cc88a', '#e74a3b'],
                hoverBackgroundColor: ['#e8b73a', '#2c9faf', '#17ad77', '#bf3c30'],
                hoverBorderColor: "rgba(234, 236, 244, 1)",
            }],
        },
        options: {
            maintainAspectRatio: false,
            tooltips: {
                backgroundColor: "rgb(255,255,255)",
                bodyFontColor: "#858796",
                borderColor: '#dddfeb',
                borderWidth: 1,
                xPadding: 15,
                yPadding: 15,
                displayColors: false,
                caretPadding: 10,
            },
            legend: {
                display: false
            },
            cutoutPercentage: 80,
        },
    });
</script>
